.form-content
  .title
    クレジットカードを登録しました。↓
  %br
  = "**** **** **** " + @default_credit_card_information.last4
  %br
  
  = form_tag(credit_card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
    %input{ type: "hidden", name: "credit_card_id", value: "" }
    %button.delete-btn 削除する
    .attention-text
      ※商品を購入中だった方は、もう一度商品のページから購入ボタンを押してください。
    = link_to "トップに戻る", root_path, class: "top-link-btn"