.mainField
  .mainField__user
    .mainField__user__icon
      = image_tag "member_photo_noimage_thumb.png", width: "50px", height: "50px"
    .mainField__user__name
      = current_user.nickname
    .mainField__user__number
      .mainField__user__number--exhibition
        %h5 出品済み商品
      .mainField__user__number--buy
        %h5 購入済み商品
  .mainField__content
    = render 'saling_item'
    = render 'buyd_item'



