.userRegistration
  .userRegistration__header
    = image_tag("logo.png",class: "logo")
  .userRegistration__content
    %h2 ログアウトしました
    .userRegistration__content__exit
      = link_to "トップに戻る", root_path, class: "btn"