.appbanner {
  width: 1440;
  height: 400px;
  background-image: image-url("bg-appBanner-pict.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  .inner {
    width: 1360px;
    height: 160px;
    position: absolute;
    margin: 120px 40px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    &__title {
      font-size: 24px;
      font-weight: bold;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      display: flex;
      width: 1360px;
      margin-top: 17px;
      .icon-a {
        width: 180px;
        height: 54px;
        margin-left: 488px;
        margin-right: 12px;
        cursor: pointer;
      }
      
      .icon-g {
        width: 180px;
        height: 54px;
        margin-right: 500px;
        cursor: pointer;
      }
    }
  }
}
footer {
  width: 1440px;
  height: 350px;
  background-color: black;
  color: white;
  position: relative;
  
  .contents {
    width: 840px;
    height: 150px;
    display: flex;
    position: absolute;
    margin: 100px 300px;
    .content {
      width: 260px;
      height: 72px;
      text-align: center;
      margin: 0 20px;
      &__header {
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        
        li {
          a {
            font-size: 12PX;
            color: white;
            text-decoration: none;
            line-height: 32px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .footer-logo {
    background-color: black;
    color: white;
    .logo-box {
      width: 160px;
      height: 40px;
      margin-left: 640px;
      margin-top: 250px;
      position: absolute;
      &__logo {
        width: 160px;
        height: 46px;
      }
    } 
  }   
  .copy {
    height: 16px;
    width: 80px;
    text-align: center;
    position: absolute;
    font-size: 14px;
    margin-top: 300px;
    margin-left: 680px;
  }
}

.p-btn {
  width: 120px;
  height: 116px;
  background-color: #3ccace;
  text-align: center;
  color: white;
  margin: 0 0 0 auto;
  padding: 15px;
  bottom: 32px;
  right: 32px;
  border-radius: 4%;
  display: block;
  position: fixed;
  &__text {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__icon {
    .tag {
      width: 54px;
      height: 54px;
    }
  }
}