* {
  box-sizing: border-box;
}

.body-new {
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  
  .header {
    height: 128px;
    padding-top: 39px;
    .header-logo {
      width: 185px;
      height: 50px;
      margin: 0 auto;
      .logo {
        width: 185px;
        height: 50px;
      }
    }
  }
  
  .main {
    .images-section {
      height: 335px;
      .images-main {
        width: 700px;
        height: 335px;
        margin: 0 auto;
        position: relative;
        background-color: white;
        border-bottom: solid 1px gainsboro;
        .images-box {
          height: 255px;
          width: 620px;
          position: absolute;
          margin: 40px 40px;
          background-color: white;
          &__header {
            display: flex;
            font-weight: 600;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__text {
            margin-top: 16px;
            font-size: 14px;
          }
          &__upload {
            width: 620px;
            height: 150px;
            border: dashed 1px;
            margin-top: 16px;
            background-color: gainsboro;
            cursor: pointer;
            &__icon {
              width: 20px;
              height: 18px;
              margin: 0 auto;
              margin-bottom: 8px;
              margin-top: 47px;
              .camera {
                width: 20px;
                height: 18px;
                
                
                a {
                  filter: saturate(100%);
                }
                
              }
            }
            &__messages {
              font-size: 12px;
              text-align: center;
              line-height: 1.4em;
            }
          }
          &__message {
            margin-top: 16px;
            font-size: 14px;
            color: #ff0211;
          }
        }
      }
    } 
    .items-section {
      height: 486px;
      .items-main {
        width: 700px;
        height: 486px;
        margin: 0 auto;
        position: relative;
        background-color: white;
        border-bottom: solid 1px gainsboro;
        .items-box {
          width: 620px;
          height: 336px;
          position: absolute;
          margin: 40px 40px;
          &__name {
            display: flex;
            font-weight: 600;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          } 
          &__form {
            .input {
              width: 620px;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid gainsboro;
              margin-top: 16px;
            }
          }
          &__message {
            margin-top: 26px;
            color: #ff0211;
            font-size: 14px;
          }
          
          &__explain {
            margin-top: 16px;
            display: flex;
            font-weight: 600;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__expform {
            margin-top: 16px;
            .expinput {
              width: 620px;
              height: 154px;
              padding: 13px 16px;
            }
          }
          &__counter {
            height: 16px;
            margin-top: 16px;
          }
          &__message2 {
            color: #ff0211;
            font-size: 14px;
          }
        }
      }
    }
    .details-section {
      height: 514px;
      .details-main {
        width: 700px;
        height: 514px;
        margin: 0 auto;
        position: relative;
        background-color: white;
        border-bottom: solid 1px gainsboro;
        .details-box {
          width: 620px;
          height: 434px;
          margin: 40px 40px;
          position: absolute;
          &__maintitle {
            color: darkgray;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 24px;
          }
          &__cat {
            display: flex;
            font-weight: 600;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__cat-input {
            width: 620px;
            height: 48px;
            border: 1px solid gainsboro;
            margin-top: 16px;
            cursor: pointer;
          }
          &__brand {
            display: flex;
            font-weight: 600;
            margin-top: 24px;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: gainsboro;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__brand-input {
            width: 620px;
            height: 48px;
            border: 1px solid gainsboro;
            margin-top: 16px;
          }
          &__status {
            display: flex;
            font-weight: 600;
            margin-top: 24px;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__status-input {
            width: 620px;
            height: 48px;
            border: 1px solid gainsboro;
            margin-top: 16px;
            cursor: pointer;
          }
          &__message {
            color: #ff0211;
            font-size: 14px;
            margin-top: 16px;
          }
        }
      }
    }
    .shipping-section {
      height: 550px;
      .shipping-main {
        width: 700px;
        height: 550px;
        margin: 0 auto;
        position: relative;
        background-color: white;
        border-bottom: solid 1px gainsboro;
        .shipping-box {
          width: 620px;
          height: 470px;
          margin: 40px 40px;
          position: absolute;
          &__maintitle {
            color: darkgray;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 24px;
          }
          &__fee {
            display: flex;
            font-weight: 600;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__fee-input {
            width: 620px;
            height: 48px;
            border: 1px solid gainsboro;
            margin-top: 16px;
            cursor: pointer;
          }
          &__message {
            color: #ff0211;
            font-size: 14px;
            margin-top: 16px;
          }
          &__area {
            display: flex;
            font-weight: 600;
            margin-top: 24px;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__area-input {
            width: 620px;
            height: 48px;
            border: 1px solid gainsboro;
            margin-top: 16px;
            cursor: pointer;
          }
          &__message {
            color: #ff0211;
            font-size: 14px;
            margin-top: 16px;
          }
          &__days {
            display: flex;
            font-weight: 600;
            margin-top: 24px;
            &__title {
              font-size: 14px;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
            }
          }
          &__days-input {
            width: 620px;
            height: 48px;
            border: 1px solid gainsboro;
            margin-top: 16px;
            cursor: pointer;
          }
        }
      }
    }
    .price-section {
      height: 293px;
      .price-main {
        width: 700px;
        height: 293px;
        margin: 0 auto;
        position: relative;
        background-color: white;
        .price-box {
          width: 620px;
          height: 253px;
          margin: 40px 40px 0;
          position: absolute;
          &__maintitle {
            font-size: 14px;
            color: gainsboro;
          }
          &__set {
            display: flex;
            font-size: 14px;
            margin-top: 24px;
            &__title {
              font-weight: 600;
            }
            &__attention {
              margin-left: 8px;
              width: 32px;
              height: 16px;
              font-size: 12px;
              background-color: #ff0211;
              color: white;
              text-align: center;
              line-height: 16px;
              font-weight: 600;
            }
            &__mark {
              margin-left: 220px;
              margin-top: 14px;
            }
            &__price-input {
              width: 285px;
              height: 48px;
              border: 1px solid gainsboro;
              margin: 0 0 0 auto;
            }
          }
          &__message {
            font-size: 14px;
            margin-top: 16px;
            text-align: right;
            color: #ff0211;
          }
          &__fee-box {
            width: 620px;
            height: 70px;
            display: flex;
            border-bottom: 1px solid gainsboro;
            &__text {
              line-height: 70px;
              font-size: 14px;
            }
            &__number {

            }
            &__line {
              width: 14px;
              height: 2px;
              background-color: gainsboro;
              margin: 0 0 0 auto;
              margin-top: 34px;
            }
          }
          &__profit-box {
            width: 620px;
            height: 53px;
            display: flex;
            &__text {
              line-height: 53px;
              font-size: 14px;
            }
            &__number {

            }
            &__line {
              width: 14px;
              height: 2px;
              background-color: gainsboro;
              margin: 0 0 0 auto;
              margin-top: 25.5px;
              
            }
          }
        }
      }
    }
    .btn-section {
      height: 196px;
      .btn-main {
        width: 700px;
        height: 196px;
        background-color: white;
        position: relative;
        margin: 0 auto;
        .btn-box {
          width: 360px;
          height: 164px;
          margin: 0 auto;
          padding-top: 48px;
          &__sell {
            width: 360px;
            height: 48px;
            background-color: #ff0211;
            color: white;
            font-size: 17px;
            text-align: center;
            line-height: 48px;
            font-weight: bold;
            border-radius: 4px;
            cursor: pointer;
          }
          &__back {
            margin-left: 156px;
            margin-top: 26px;
            font-size: 14px;
            a {
              text-decoration: none;
              color: #0095ee;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}