.form-content {
  background-color: $main_background_color;
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

.delete-btn {
  margin: 10px 0;
}

.attention-text {
  margin-bottom: 30px;
}

.top-link-btn {
  color: $link_font_color;
  font-size: 20px;
  font-weight: bold;
}

.top-link {
  margin-top: 30px;
}